<table class="table">
    <thead>
      <tr>
        
        <th scope="col">MÃ LỚP</th>
        <th scope="col">TÊN LỚP</th>
      
      </tr>
    </thead>
    <tbody>
      <tr (click)="gotoDSSV(lop.idLop)"*ngFor = "let lop of mangLop">
        <td>{{lop.idLop}}</td>
        <td>{{lop.nameLop}}</td>
        
        
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>