<table class="table">
    <thead>
      <tr >
        
        <th scope="col">Mã Sinh viên</th>
        <th scope="col">Tên Sinh Viên</th>
    
      </tr>
    </thead>
    <tbody>
      <tr (click)="detailStudent(sinhvien.idStudent)"*ngFor="let sinhvien of mangsinhvien">
        <td>{{sinhvien.idStudent}}</td>
        <td>{{sinhvien.nameStudent}}</td>
        
      </tr>
     
    </tbody>
  </table>
