<ul class="list-group">
    <li class="list-group-item"> <label>Mã Sinh viên:  </label> {{sv.idStudent}}</li>
    <li class="list-group-item"> <label>Tên Sinh viên:  </label> {{sv.nameStudent}}}</li>
   
  </ul>
